h1 {
    color: purple;
    margin-right: 20px;
  }
  h2{
      background-color: greenyellow;
      opacity: 0.6;
  }

p {
    text-align: middle;
    }
    

    
   
    div {
        width: 500px;
        height: 50px;
        padding: 20px;
        border: 2px double red;
        margin: auto;
    }

    h4 {
      background: blue;
    }
    h5{
        background: lightblue;
        color: green;
    }
    .special {
        border-style: solid;
        padding-top: 20px;
        padding-bottom: 17px;
        width: 300px
        color: red;
    
    }
    
    .special2 {
        padding-top: 16px;
        padding-bottom: 14px;
        background:black;
    }
#container {
    border-top-style: single;
    border-top-color:  blue;
    font-size: 30px;
}

#panel {
    border-top: teal;
    border-left: thin;
    font-size: 15px;

}

.jack{
    width: 200px;
    height: 60px;
    background-color: blue;
    animation-name: jack;
    animation-duration: 8s;

}
/*Our animation code */
@keyframes jack {
    from {background-color: blue;}
    to {background-color: red;}
}


.example p {
    color: red;
}
.example2 p {
    color:blue;
}

.example3 p {
    color:green;
}